<form class="pokemon-form">  
    <mat-form-field class="example-full-width">
      <mat-label>Rechercher un pokemon</mat-label>
      <textarea matInput placeholder="Ex. Pikachu" [formControl]="name"></textarea>
    </mat-form-field>
  </form>

<div class="wrapper">

<div class=card *ngFor="let pokemon of currentPokemons">
<div><h2>#{{extractId(pokemon.url)}}</h2></div>
<div>
    <h4>{{pokemon.name | uppercase}}</h4>
    <img src="https://raw.githubusercontent.com/pokeapi/sprites/master/sprites/pokemon/{{extractId(pokemon.url)}}.png"><a routerLink="/pokemon/{{extractId(pokemon.url)}}"></a></div>
</div>

</div>
