<div class="container">
	<div class="card" fxLayout="column" fxLayoutAlign="space-around center" fxFlexOffset="37.5" fxFlex="25">
	  <div class="card__side card__side--front-2">
		<div class="card__title card__title--2">
		  <h4 class="card__heading">{{pokemon?.name | uppercase}}</h4>
		  <h5 class="card__heading">
			  <span class="material-icons">star_rate</span>{{ pokemon?.id }}</h5>
		</div>

		<div class="card__details" fxLayout="row" fxLayoutAlign="space-around center">
			<img src="{{pokemon?.sprites.front_default}}">
		</div>
	  </div>
	  <div class="card__side card__side--back card__side--back-2" fxLayout="row" fxLayoutAlign="space-around center">
		<div class="card__cta">
			<h1 fxLayoutAlign="space-around center">Détails</h1>

		<mat-list>
			<p><strong>Taille: </strong>{{pokemon?.height/10}}m 
				<strong> Poids: </strong>{{pokemon?.weight/10}}kg</p>
		
			<mat-divider></mat-divider>

			<p><strong>Types: </strong></p>
				<ul *ngFor="let poketype of pokemon?.types">
					<li>{{poketype.type.name | titlecase}}</li>
				</ul>

			<mat-divider></mat-divider>

			<p><strong>Statistiques: </strong></p>
				<ul *ngFor="let pokestat of pokemon?.stats">
					<li>{{pokestat.stat.name | uppercase}}: {{pokestat.base_stat}}</li>
				</ul>
		</mat-list>
		</div>
	  </div>
	</div>
  </div>